@let displayType = displayAs();
<span [attr.test-id]="testId()" [class.label-value]="labelDisplay()" [style]="{
  backgroundColor: labelDisplay()?.backgroundColor,
  color: labelDisplay()?.color,
  fontWeight: labelDisplay()?.fontWeight,
  fontStyle: labelDisplay()?.fontStyle,
  textDecoration: labelDisplay()?.textDecoration,
  textTransform: labelDisplay()?.textTransform,
}">
  @if (displayType === 'secret') {
    <pm-secret-value
    [testId]="testId() + '-secret'"
    [value]="value()"
    [isVisible]="isVisible()"
    ></pm-secret-value>
  } @else if (displayType === 'boolIcon' && isBoolLike()) {
    <pm-boolean-value
    [testId]="testId() + '-boolean'"
    [boolValue]="boolValue()!"
    ></pm-boolean-value>
  } @else if (displayType === 'link' && isUrlValue()) {
    <pm-link-value
    [testId]="testId() + '-link'"
    [urlValue]="stringValue()!"
    ></pm-link-value>
  } @else {
    {{ value() }}
  }
</span>

@if (displayType === 'secret') {
  <ui5-icon
    [attr.test-id]="testId() + '-secret-toggle'"
    class="toggle-icon"
    [name]="isVisible() ? 'hide' : 'show'"
    (click)="toggleVisibility($event)"
  ></ui5-icon>
}

@if (withCopyButton()) {
  <ui5-icon
    [attr.test-id]="testId() + '-copy'"
    class="toggle-icon"
    (click)="copyValue($event)"
    name="copy"
  >
  </ui5-icon>
}
