.secret-value {
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  display: inline-flex;

  .original {
    display: none;
  }

  .masked {
    display: inline;
    transform: translateY(0.2em);
  }

  &:hover,
  &:active {
    .original {
      display: inline;
    }

    .masked {
      display: none;
    }
  }
}
