<ui5-dynamic-page test-id="generic-detail-view">
  <ui5-dynamic-page-title slot="titleArea">
    <ui5-title
      test-id="generic-detail-view-title"
      class="resource-title"
      slot="heading"
    >
      <ng-container *ngTemplateOutlet="resourceTitle"></ng-container>
    </ui5-title>
    <div class="resource-title-snapped-container" slot="snappedHeading">
      <ng-container *ngTemplateOutlet="resourceLogo"></ng-container>
      <ui5-title>
        <ng-container *ngTemplateOutlet="resourceTitle"></ng-container>
      </ui5-title>
    </div>

    <ui5-text
      test-id="generic-detail-view-subtitle"
      class="resource-title-subheading"
      slot="subheading"
    >
      <ng-container *ngTemplateOutlet="resourceDescription"></ng-container>
    </ui5-text>
    <ui5-text class="resource-title-subheading" slot="snappedSubheading">
      <ng-container *ngTemplateOutlet="resourceDescription"></ng-container>
    </ui5-text>

    <ui5-toolbar
      class="resource-title-actions"
      id="actionsBar"
      slot="actionsBar"
      design="Transparent"
    >
      @if (showDownloadKubeconfig()) {
        <ui5-toolbar-button
          [disabled]="isDownloadingKubeConfig()"
          test-id="generic-detail-view-download"
          text="Download kubeconfig"
          icon="download-from-cloud"
          design="Emphasized"
          (click)="downloadKubeConfig()"
        ></ui5-toolbar-button>
      }
      @if (resource(); as resource) {
        <ui5-toolbar-button
          test-id="generic-detail-view-parent-button"
          text="Edit"
          icon="edit"
          design="Default"
          (click)="openEditResourceModal($event, resource)"
        ></ui5-toolbar-button>
        <ui5-toolbar-button
          test-id="generic-detail-view-parent-button"
          text="Delete"
          icon="delete"
          design="Negative"
          (click)="openDeleteResourceModal($event, resource)"
        ></ui5-toolbar-button>
      }
    </ui5-toolbar>
  </ui5-dynamic-page-title>

  <ui5-dynamic-page-header slot="headerArea">
    <div class="resource-info">
      <ng-container *ngTemplateOutlet="resourceLogo"></ng-container>
      <div class="resource-info-cell">
        <ui5-label>Workspace Path</ui5-label>
        <p test-id="generic-detail-view-workspace-path">
          {{ workspacePath() }}
        </p>
      </div>
      @if (resource(); as resource) {
        @for (viewField of viewFields(); track viewField.property) {
          <div
            class="resource-info-cell"
            [attr.test-id]="'generic-detail-view-field-' + viewField.property"
          >
            @if (viewField.group) {
              <ui5-label
                [attr.test-id]="
                  'generic-detail-view-field-' + viewField.property + '-label'
                "
                >{{ viewField.group.label ?? viewField.group.name }}</ui5-label
              >
              <p
                [attr.test-id]="
                  'generic-detail-view-field-' + viewField.property + '-value'
                "
              >
                @for (
                  field of viewField.group.fields;
                  let last = $last;
                  track field.label
                ) {
                  <span [class.multiline]="viewField.group.multiline ?? true">
                    <span>{{ field.label }}: </span>
                    <pm-value-cell
                      [fieldDefinition]="field"
                      [resource]="resource"
                      [LuigiClient]="LuigiClient()"
                    />
                  </span>
                  @if (!last && viewField.group.delimiter) {
                    <span>{{ viewField.group.delimiter }}</span>
                  }
                }
              </p>
            } @else {
              <ui5-label
                [attr.test-id]="
                  'generic-detail-view-field-' + viewField.property + '-label'
                "
                >{{ viewField.label }}</ui5-label
              >
              <p
                [attr.test-id]="
                  'generic-detail-view-field-' + viewField.property + '-value'
                "
              >
                <pm-value-cell
                  [fieldDefinition]="viewField"
                  [resource]="resource"
                  [LuigiClient]="LuigiClient()"
                />
              </p>
            }
          </div>
        }
      }
    </div>
  </ui5-dynamic-page-header>

  <slot></slot>
</ui5-dynamic-page>

<pm-create-resource-modal
  #createModal
  [fields]="resourceFields()"
  (updateResource)="update($event)"
  [context]="context()"
/>

<pm-delete-resource-modal
  #deleteModal
  (resource)="delete($event)"
  [context]="context()"
/>

<ng-template #resourceTitle>
  @if (resourceTitleDefinition(); as resourceTitleDefinition) {
    <pm-value-cell
      [fieldDefinition]="resourceTitleDefinition"
      [resource]="resource()"
      [LuigiClient]="LuigiClient()"
    />
  } @else {
    {{ resource()?.spec?.displayName || resourceId() }}
  }
</ng-template>
<ng-template #resourceDescription>
  @if (resourceDescriptionDefinition(); as resourceDescriptionDefinition) {
    <pm-value-cell
      [fieldDefinition]="resourceDescriptionDefinition"
      [resource]="resource()"
      [LuigiClient]="LuigiClient()"
    ></pm-value-cell>
  } @else {
    {{
      `The ${resourceDefinition()?.singular} for ${resource()?.spec?.displayName || this.resourceId()}`
    }}
  }
</ng-template>
<ng-template #resourceLogo>
  @if (resourceDefinition()?.ui?.logoUrl) {
    <img
      test-id="generic-detail-view-logo"
      class="resource-logo"
      src="{{ resourceDefinition()?.ui?.logoUrl }}"
      alt="Logo"
    />
  }
</ng-template>
