.resource-title {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.resource-title-subheading {
  display: block;
  padding-bottom: 1rem;
}

.resource-logo {
  width: 5rem;
  padding-bottom: 1rem;
}

.resource-title-actions {
  height: auto;
}

.resource-info {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.resource-info-cell {
  display: flex;
  gap: 5px;
  flex-direction: column;
  max-width: 300px;
}

.multiline {
  display: block;
}

.content,
.content-group {
  display: flex;
  flex-direction: column;
  padding-block-end: 1rem;
}

.content-padding {
  padding: 0.5rem 1rem 0 1rem;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 22rem);
  grid-auto-rows: 1fr;
  gap: 1rem;
}
