<ui5-dynamic-page>
  <ui5-dynamic-page-title slot="titleArea">

    <ui5-title slot="heading">
      <div class="resource-title">
        {{ resource()?.spec?.displayName || resourceId }}
      </div>
    </ui5-title>
    <ui5-text class="resource-title-subheading" slot="subheading">
      The {{ resourceDefinition?.singular }} for
      {{ resource()?.spec?.displayName || resourceId }}
    </ui5-text>

    <ui5-toolbar
      class="resource-title-actions"
      id="actionsBar"
      slot="actionsBar"
      design="Transparent"
    >
      <ui5-toolbar-button
        text="Download kubeconfig"
        icon="download-from-cloud"
        design="Emphasized"
        (click)="downloadKubeConfig()"
      ></ui5-toolbar-button>
    </ui5-toolbar>
  </ui5-dynamic-page-title>

  <ui5-dynamic-page-header slot="headerArea">
    <div class="resource-info">
      @if (resourceDefinition.ui?.logoUrl) {
        <img
          class="resource-logo"
          src="{{ resourceDefinition.ui.logoUrl }}"
          alt="Logo"
        />
      }
      <div class="resource-info-cell">
        <ui5-label>Workspace Path</ui5-label>
        <p>{{ workspacePath }}</p>
      </div>

      @for (field of resourceFields; track field.property) {
        <div class="resource-info-cell">
          <ui5-label>{{ field.label }}</ui5-label>
          <p>
            <value-cell [value]="getResourceValueByJsonPath(resource(), field)"></value-cell>
          </p>
        </div>
      }
    </div>
  </ui5-dynamic-page-header>

  <slot></slot>
</ui5-dynamic-page>
