<ui5-dynamic-page test-id="generic-detail-view">
  <ui5-dynamic-page-title slot="titleArea">

    <ui5-title slot="heading">
      <div test-id="generic-detail-view-title" class="resource-title">
        {{ resource()?.spec?.displayName || resourceId() }}
      </div>
    </ui5-title>
    <ui5-text test-id="generic-detail-view-subtitle" class="resource-title-subheading" slot="subheading">
      The {{ resourceDefinition()?.singular }} for
      {{ resource()?.spec?.displayName || resourceId() }}
    </ui5-text>

    <ui5-toolbar
      class="resource-title-actions"
      id="actionsBar"
      slot="actionsBar"
      design="Transparent"
    >
      <ui5-toolbar-button
        test-id="generic-detail-view-download"
        text="Download kubeconfig"
        icon="download-from-cloud"
        design="Emphasized"
        (click)="downloadKubeConfig()"
      ></ui5-toolbar-button>
    </ui5-toolbar>
  </ui5-dynamic-page-title>

  <ui5-dynamic-page-header slot="headerArea">
    <div class="resource-info">
      @if (resourceDefinition()?.ui?.logoUrl) {
        <img
          test-id="generic-detail-view-logo"
          class="resource-logo"
          src="{{ resourceDefinition()?.ui?.logoUrl }}"
          alt="Logo"
        />
      }
      <div class="resource-info-cell">
        <ui5-label>Workspace Path</ui5-label>
        <p test-id="generic-detail-view-workspace-path">{{ workspacePath() }}</p>
      </div>
      @if (resource(); as resource) {
        @for (viewField of viewFields(); track viewField.property) {
          <div class="resource-info-cell" [attr.test-id]="'generic-detail-view-field-' + viewField.property">
            @if(viewField.group) {
              <ui5-label [attr.test-id]="'generic-detail-view-field-' + viewField.property + '-label'">{{ viewField.group.label ?? viewField.group.name }}</ui5-label>
              <p [attr.test-id]="'generic-detail-view-field-' + viewField.property + '-value'">
                @for (field of viewField.group.fields; let last = $last; track field.label) {
                  <span [class.multiline]="viewField.group.multiline ?? true">
                    <span>{{ field.label }}: </span>
                    <value-cell
                    [fieldDefinition]="field"
                    [resource]="resource"
                    [LuigiClient]="LuigiClient()"
                    />
                  </span>
                  @if (!last && viewField.group.delimiter) {
                    <span>{{ viewField.group.delimiter }}</span>
                  }
                }
              </p>
            } @else {
              <ui5-label [attr.test-id]="'generic-detail-view-field-' + viewField.property + '-label'">{{ viewField.label }}</ui5-label>
              <p [attr.test-id]="'generic-detail-view-field-' + viewField.property + '-value'">
                <value-cell
                [fieldDefinition]="viewField"
                [resource]="resource"
                [LuigiClient]="LuigiClient()"
                />
              </p>
            }
          </div>
        }
      }
    </div>
  </ui5-dynamic-page-header>

  <slot></slot>
</ui5-dynamic-page>
