<ui5-dynamic-page>
  <ui5-dynamic-page-title slot="titleArea">
    <div slot="heading" class="page-heading">
      <pm-resource-logo [resourceDefinition]="resourceDefinition()" />
      <div class="page-heading-text">
        <ui5-title>{{ resourceTitleDefinition() }}</ui5-title>
        <p>{{ resourceDescriptionDefinition() }}</p>
      </div>
    </div>

    <div slot="snappedHeading" class="page-heading">
      <pm-resource-logo [resourceDefinition]="resourceDefinition()" />
      <div class="page-heading-text">
        <ui5-title>{{ resourceTitleDefinition() }}</ui5-title>
        <p>{{ resourceDescriptionDefinition() }}</p>
      </div>
    </div>

    <ui5-toolbar slot="actionsBar" design="Transparent">
      @if (hasUiCreateViewFields() && canCreate()) {
        <ui5-toolbar-button
          design="Emphasized"
          data-testid="search-list-create-button"
          [text]="'Create'"
          (click)="openCreateModal()"
        />
      }
      @for (action of actions(); track action.property) {
        @if (canDo(action.requirePermission)) {
          <mfp-resource-field
            [fieldDefinition]="action"
            (buttonClick)="genericActionHandler($event)"
          />
        }
      }
    </ui5-toolbar>
  </ui5-dynamic-page-title>

  <ui5-dynamic-page-header slot="headerArea">
    <ui5-input
      class="search-input"
      data-testid="search-list-search-input"
      [formField]="searchControl"
      placeholder="Search"
      (keydown.enter)="submitSearch()">
      <ui5-icon
        data-testid="search-list-clear-icon"
        name="decline"
        slot="icon"
        mode="Interactive"
        [style.visibility]="searchControl().value() ? 'visible' : 'hidden'"
        (click)="clearSearch()"
        (keydown.enter)="clearSearch()">
      </ui5-icon>
      <ui5-icon
        data-testid="search-list-search-icon"
        name="search"
        slot="icon"
        mode="Interactive"
        (click)="submitSearch()"
        (keydown.enter)="submitSearch()">
      </ui5-icon>
    </ui5-input>
  </ui5-dynamic-page-header>
  @if (hasFilters()) {
    <ui5-tabcontainer
      (ui5TabSelect)="onFilterTabSelect($event.detail.tabIndex)"
    >
      @for (tab of filterTabs(); track tab.text) {
        <ui5-tab [text]="tab.text" [selected]="tab.selected"></ui5-tab>
      }
    </ui5-tabcontainer>
  }
  <mfp-declarative-table
    [columns]="columns()"
    [resources]="tableResources()"
    [loading]="loading()"
    [permissions]="instancePermissionsStore.permissions()"
    [totalItemsCount]="totalItemsCount()"
    [paginationLimit]="paginationLimit()"
    [hasMore]="hasMore()"
    [currentPage]="currentPage()"
    itemsPerPageLabel="Results per Page"
    totalItemsLabel="Results"
    loadMode="pager"
    (buttonClick)="genericActionHandler($event)"
    (tableRowClicked)="navigateToResource($event)"
    (pageChange)="onPageChange($event)"
    (paginationLimitChanged)="onLimitChange($event)"
  />
</ui5-dynamic-page>

<pm-resource-form-modal
  #createModal
  [context]="context()"
  [fields]="createFields()"
  (resource)="onCreateSubmit($event)"
/>
