<ui5-dynamic-page>
  <ui5-dynamic-page-title slot="titleArea">
    <pm-resource-logo
      slot="heading"
      [resourceDefinition]="resourceDefinition()"
    />
    <ui5-title slot="heading">{{ resourceTitleDefinition() }}</ui5-title>
    <p slot="subheading">{{ resourceDescriptionDefinition() }}</p>

    <div slot="actionsBar">
      @if (hasUiCreateViewFields() && canCreate()) {
        <ui5-button
          design="Emphasized"
          data-testid="search-list-create-button"
          (click)="openCreateModal()"
        >
          Create
        </ui5-button>
      }
      @for (action of actions(); track action.property) {
        @if (canDo(action.uiSettings?.buttonSettings?.action)) {
          <mfp-resource-field
            [fieldDefinition]="action"
            (buttonClick)="genericActionHandler($event)"
          />
        }
      }
    </div>
  </ui5-dynamic-page-title>

  <ui5-dynamic-page-header slot="headerArea">
    <!-- future: filter bar (#591) -->
  </ui5-dynamic-page-header>
  <!-- future: table content (#593) -->
</ui5-dynamic-page>

<pm-create-resource-modal
  #createModal
  [context]="context()"
  [fields]="createFields()"
  (resource)="onCreateSubmit($event)"
/>
