ui5-dynamic-page::part(fit-content) {
  padding: 0;
}

.page-heading {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.page-heading ::ng-deep .resource-logo {
  width: 2.5rem;
  padding-bottom: 0;
  display: block;
}
.page-heading-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page-heading-text p {
  margin: 0;
}

.search-input {
  width: 20rem;
}

.search-input ui5-icon[slot='icon']:hover {
  outline: 0.0625rem solid var(--sapField_HoverBorderColor, #0064d9);
  border-radius: 0.25rem;
  cursor: pointer;
}
