ui5-dynamic-page::part(fit-content) {
  padding: 0;
}

.snapped-heading {
  display: flex;
  align-items: center;
}
.snapped-heading ::ng-deep .resource-logo {
  width: 2.5rem;
  padding-bottom: 0;
  display: block;
}
.snapped-heading-text {
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.snapped-heading-text p {
  margin: 0;
}
