@let opts = options();
@if (opts.length > 0) {
  <ui5-select
    class="input"
    [value]="value()"
    (input)="input.emit($event)"
    (change)="change.emit($event)"
    (blur)="blur.emit()"
    [required]="required()"
    [valueState]="valueState()"
    [disabled]="disabled()"
  >
    @for (item of [{ value: '', label: '' }].concat(opts); track item.value) {
      <ui5-option
        [value]="item.value"
        [selected]="item.value === value()"
      >{{ item.label }}</ui5-option>
    }
  </ui5-select>
}
