@let configVM = config();
@if (configVM.scene) {
  <div class="page">
    <div class="container">
      <ui5-illustrated-message [name]="configVM.scene">
        <ui5-title slot="title" level="H1">{{
          configVM.illustratedMessageTitle
        }}</ui5-title>
        <div slot="subtitle">
          <p>{{ configVM.illustratedMessageText }}</p>
        </div>
        <div>
          @for (button of configVM.buttons; track button.url) {
            <ui5-button design="Transparent" (click)="goTo(button)">
              {{ button.label }}
            </ui5-button>
          }
        </div>
      </ui5-illustrated-message>
    </div>
  </div>
}
