<section
  test-id="generic-form"
  class="form"
  [formGroup]="form"
>
  @for (field of fields(); track field.name) {
    <div
      class="inputs"
      [attr.test-id]="'generic-form-field-container-' + field.name"
    >
      <ui5-label
        [attr.test-id]="'generic-form-field-label-' + field.name"
        show-colon
        [required]="field.required"
        >{{ field.label }}</ui5-label
      >
      @if (field.values?.length) {
        <ui5-select
          class="input"
          [attr.test-id]="'generic-form-field-' + field.name"
          [value]="form.controls[field.name].value"
          (input)="setFormControlValue($event, field.name)"
          (change)="setFormControlValue($event, field.name)"
          (blur)="onFieldBlur(field.name)"
          [required]="field.required"
          [valueState]="getValueState(field.name)"
          [disabled]="field.disabled"
        >
          @for (value of [''].concat(field.values ?? []); track value) {
            <ui5-option
              [attr.test-id]="
                'generic-form-field-' +
                field.name +
                '-option-' +
                (value || 'empty')
              "
              [value]="value"
              [selected]="value === form.controls[field.name].value"
              >{{ value }}</ui5-option
            >
          }
        </ui5-select>
      } @else if (field.loadValues) {
        <pm-generic-dynamic-select
          [attr.test-id]="'generic-form-field-' + field.name"
          [loadValues]="field.loadValues"
          [value]="form.controls[field.name].value"
          (input)="setFormControlValue($event, field.name)"
          (change)="setFormControlValue($event, field.name)"
          (blur)="onFieldBlur(field.name)"
          [required]="!!field.required"
          [valueState]="getValueState(field.name)"
          [disabled]="!!field.disabled"
        />
      } @else {
        <ui5-input
          class="input"
          [attr.test-id]="'generic-form-field-' + field.name"
          [value]="form.controls[field.name].value"
          (blur)="onFieldBlur(field.name)"
          (change)="setFormControlValue($event, field.name)"
          (input)="setFormControlValue($event, field.name)"
          [required]="field.required"
          [valueState]="getValueState(field.name)"
          [disabled]="field.disabled"
        />
      }
    </div>
  }
</section>
