.label-value {
  background-color: #3e63dd;
  color: #ffffff;
  border-radius: 0.4rem;
  padding-inline: 0.4375rem;
  letter-spacing: -0.00875rem;
  display: inline-block;
  border: 0;
  font-size: 0.875rem;
  line-height: 1.4rem;
  margin: 3px 0;
}