<mfp-declarative-table-card
  data-testid="generic-list-view-table"
  [resources]="tableResources()"
  [config]="config()"
  [loading]="loading()"
  [error]="listError() || watchError()"
  [permissions]="instancePermissionsStore.permissions()"
  [createFormState]="createFormState()"
  (tableRowClicked)="navigateToResource($event)"
  (loadMoreResources)="loadMore()"
  (retry)="retryList()"
  (paginationLimitChanged)="onLimitChange($event)"
  (actionButtonClick)="executeAction($event)"
  (createFieldChange)="onCreateFieldChange($event)"
  (createSubmit)="onCreateSubmit($event)"
  (deleteSubmit)="delete($event)"
/>
