<pm-generic-view
  data-testid="opensearch-list-view"
  [view]="'listView'"
  [context]="context()"
  [LuigiClient]="LuigiClient()"
  [defaultTitle]="defaultTitle()"
  [defaultDescription]="defaultDescription()"
>
  <ng-content page-content>
    <mfp-declarative-table-card
      data-testid="opensearch-list-view-table"
      [resources]="resources()"
      [config]="config()"
      (tableRowClicked)="navigateToResource($event)"
      (loadMoreResources)="loadMore()"
      (paginationLimitChanged)="onLimitChange($event)"
      (searchChanged)="search($event)"
    />
  </ng-content>
</pm-generic-view>
