<pm-generic-view
  [context]="context()"
  [LuigiClient]="LuigiClient()"
  [defaultTitle]="defaultTitle()"
  [defaultDescription]="defaultDescription()"
>
  <ng-content header-actions>
    @if (hasUiCreateViewFields()) {
      <ui5-toolbar-button
        test-id="generic-list-view-create-button"
        design="Emphasized"
        text="Create"
        (click)="openCreateResourceModal()"
      ></ui5-toolbar-button>
    }
  </ng-content>

  <ng-content page-content>
    <pm-generic-table
      [resources]="resources()"
      [columns]="columns()"
      [trackBy]="trackBy"
      [hasMore]="hasMore()"
      [totalItemsCount]="totalItemsCount()"
      [paginationLimit]="paginationLimit()"
      (tableRowClicked)="navigateToResource($event)"
      (loadMoreResources)="loadMore()"
      (paginationLimitChanged)="onLimitChange($event)"
      (buttonClick)="executeAction($event)"
    />
  </ng-content>
</pm-generic-view>

@if (hasUiCreateViewFields()) {
  <pm-create-resource-modal
    #createModal
    [fields]="resourceDefinition()?.ui?.createView?.fields ?? []"
    (resource)="create($event)"
    [context]="context()"
  />
}
