<div class="organization-management">
  <div>
    {{ texts.explanation }}
  </div>

  <div>
    <ui5-label for="select-switch" show-colon>{{
      texts.switchOrganization.label
    }}</ui5-label
    ><br />
    <div class="organization-management-input">
      @let newOrganization = organizationToSwitch();
      <ui5-select
        id="select-switch"
        [value]="newOrganization?.name ?? ''"
        (ui5Change)="setOrganizationToSwitch($event)"
      >
        @for (org of organizations(); track org.name) {
          <ui5-option
            class="option"
            [tooltip]="org.ready ? undefined : texts.switchOrganization.tooltip"
            [value]="org.name"
          >
            <div class="option">
              <span>{{org.name}}</span>
              @if(!org.ready) {
                <ui5-icon name="alert" design="Critical"></ui5-icon>
              }
            </div>
          </ui5-option>
        }

        <div slot="label" class="option">
          <span>{{newOrganization?.name}}</span>
          @if(newOrganization && !newOrganization?.ready) {
            <ui5-icon name="alert" design="Critical"></ui5-icon>
          }
        </div>

      </ui5-select>
      <ui5-button
        [tooltip]="newOrganization?.ready ? undefined : texts.switchOrganization.tooltip"
        [disabled]="!newOrganization || !newOrganization?.ready"
        design="Emphasized"
        (ui5Click)="switchOrganization()"
      >{{
        texts.switchOrganization.button
      }}</ui5-button>
    </div>
  </div>

  <div>
    <ui5-label for="input-onboard" show-colon>{{
      texts.onboardOrganization.label
    }}</ui5-label
    ><br />
    <div class="organization-management-input">
        <ui5-input
          id="input-onboard"
          placeholder="{{ texts.onboardOrganization.placeholder }}"
          [formControl]="newOrganizationControl"
          [valueState]="getValueState(newOrganizationControl)"
        >
          <div slot="valueStateMessage">
            <a href="{{ k8sMessages.RFC_1035.href }}" target="_blank">{{ k8sMessages.RFC_1035.message }}</a>
          </div>
      </ui5-input>
      <ui5-button [disabled]="newOrganizationControl.invalid" design="Emphasized" (ui5Click)="onboardOrganization()">{{
        texts.onboardOrganization.button
      }}</ui5-button>
    </div>
  </div>
</div>
