<div class="organization-management">
  <div>
    {{ texts.explanation }}
  </div>

  <div>
    <ui5-label for="select-switch" show-colon>{{
      texts.switchOrganization.label
    }}</ui5-label
    ><br />
    <div class="organization-management-input">
      <ui5-select
        id="select-switch"
        [value]="organizationToSwitch()"
        (input)="setOrganizationToSwitch($event)"
        (change)="setOrganizationToSwitch($event)"
      >
        @for (org of organizations(); track org) {
          <ui5-option [value]="org" [selected]="org === organizationToSwitch()">{{
            org
          }}</ui5-option>
        }
      </ui5-select>
      <ui5-button [disabled]="!organizationToSwitch()" design="Emphasized" (ui5Click)="switchOrganization()">{{
        texts.switchOrganization.button
      }}</ui5-button>
    </div>
  </div>

  <div>
    <ui5-label for="input-onboard" show-colon>{{
      texts.onboardOrganization.label
    }}</ui5-label
    ><br />
    <div class="organization-management-input">
        <ui5-input
          id="input-onboard"
          placeholder="{{ texts.onboardOrganization.placeholder }}"
          [formControl]="newOrganization"
          [valueState]="getValueState(newOrganization)"
        >
          <div slot="valueStateMessage">
            <a href="{{ k8sMessages.RFC_1035.href }}" target="_blank">{{ k8sMessages.RFC_1035.message }}</a>
          </div>
      </ui5-input>
      <ui5-button [disabled]="newOrganization.invalid" design="Emphasized" (ui5Click)="onboardOrganization()">{{
        texts.onboardOrganization.button
      }}</ui5-button>
    </div>
  </div>
</div>
