<ui5-dialog
  data-testid="resource-form-dialog"
  [open]="dialogOpen()"
  (close)="close()"
>
  <ui5-bar slot="header" design="Header">
    <ui5-title data-testid="resource-form-dialog-title" slot="startContent">
      Edit
    </ui5-title>
  </ui5-bar>

  <mfp-declarative-form
    data-testid="resource-form-dialog-form"
    [fields]="formFields()"
    [initialValues]="formInitialValues()"
    [fieldErrors]="fieldErrors()"
    (fieldChange)="onFieldChange($event)"
    (formSubmit)="onFormSubmit($event)"
  />

  <ui5-toolbar class="ui5-content-density-compact" slot="footer">
    <ui5-toolbar-button
      data-testid="resource-form-submit"
      class="dialogCloser"
      design="Emphasized"
      text="Submit"
      [disabled]="!isFormValid()"
      (click)="submitForm()"
    >
    </ui5-toolbar-button>
    <ui5-toolbar-button
      data-testid="resource-form-cancel"
      class="dialogCloser"
      design="Transparent"
      text="Cancel"
      (click)="close()"
    >
    </ui5-toolbar-button>
  </ui5-toolbar>
</ui5-dialog>
